html,
body {
    height: 100%;
}

.card img {
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.form-amount {
    max-width: 375px;
}

/* Cart CSS */
.image-parent {
    max-width: 100px;
}

input[type="datetime-local"]{
    max-width: 250px;
}